{% load static %}
<html>
<head>
	<title>MyBlogz</title>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all" />

	<link rel="shortcut icon" href="css/images/favicon.ico" />

</head>
<body>
<div class="shell">
	<div class="border">

		<div id="navigation">
			<ul>
			    <li><a href="/" class="active">Main</a></li>
			    <li><a href="/admin">Admin</a></li>

			</ul>
		</div>

		<div id="main">
			<div id="content" class="left">

				<div class="projects">
					<h3>{{ post.title }}</h3>
                  <p align="center">
                    <img src="{{ post.image.url }}" width="50%" />
                  </p>
					<div class="item">
						<div class="text center">
							<p class="text_content">{{ post.textContent }}</p>
							<p class="author">Author: {{ post.author }} </p>
						</div>
					</div>
				</div>
			</div>
			<div>
				<br>
				<p>Likes: {{ post.likes_set.all.count }}</p>
				<br>
				<a href="{% url 'add_likes' post.id %}" class="like">Like</a>
				<a href="{% url 'del_likes' post.id %}" class="dislike">Dislike</a>
			</div>
			<div class="form_comment">
				<h3>Leave comment</h3>
				<div>
					<form action="{% url 'add_comments' post.id %}" method="post">
						{% csrf_token %}
						<div>
							<label>Your comment</label>
							<textarea name="text_comments"></textarea>
						</div>
						<div>
							<input type="text" name="name">
							<label>Name *</label>
						</div>
						<div>
							<input type="email" name="email">
							<label>Email *</label>
						</div>
						<div>
							<input type="submit">
						</div>
					</form>
				</div>
				<div class="cl">&nbsp;</div>
			</div>

			<div>
				<p class="comments_p">COMMENTS</p>
				<div>
					{% for comment in post.comments_set.all %}
					<div class="view_comment">
						<h4>{{ comment.name }}</h4>
						<p>
							{{ comment.text_comments }}
						</p>
					</div>
					{% endfor %}
				</div>
			</div>

			<div class="cl">&nbsp;</div>
		</div>


	</div>

	<div id="footer">
		<p class="copy right">MyBlogz &copy;  2023 </p>
	</div>
</div>
</body>
</html>